<nav class="navbar navbar-inverse" role="navigation"> 
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">FireVue</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<form class="navbar-form navbar-left" role="search"> 
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Multiple Candidate">
			</div>
			<!-- Button trigger modal -->
			<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
				Upload
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">CSV*</h4>
						</div>
						<div class="modal-body">
							CSV must contain the headers <strong>First, Last, Email, Phone</strong> and <strong>Position</strong>. File size limit is 1MB. <br />
							<br>
							<a ng-click="showExample=!showExample"><strong>View Example...</strong><br></a> <!-- TODO// ng-show example -->
							<br>
							<table class="table table-bordered" ng-hide="showExample">
								<thread>
									<tr>
										<td>First</td>
										<td>Last</td>
										<td>Email</td>
										<td>Phone</td>
										<td>Position</td>
									</tr>
								</thread>
								<tbody>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td>john@example.com</td>
										<td>555-555-5555</td>
										<td> Customer Service Manager</td>
									</tr>
									<tr>
										<td>Jane</td>
										<td>Smith</td>
										<td>jane@example.com</td>
										<td></td>
										<td>Marketing Director</td>
									</tr>
									<tr>
										<td>James</td>
										<td>Johnson</td>
										<td>james@example.com</td>
										<td>123-456-7890</td>
										<td></td>
									</tr>
								</tbody>
							</table>
							<strong>***Directions: </strong>
							<ol>
								<li>Choose CSV file to upload, select 'Upload'.</li>
								<li>Select 'Compare' to display the results.</li>
								<li>Select 'Close' to see results.</li>
							</ol>
							<div class="upload-button btn">
								<input id="files" type="file" name="file">
							</div>
							<!-- TODO// ng-show preview of uploaded document using ng-repeat -->

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button id="submit" ng-click="saveData()" type="button" class="btn btn-success">Upload</button>
							<button id="submit" ng-click="csvResults()" type="button" class="btn btn-danger" data-submit="modal">Compare</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
			<a ng-click="logout()" class="navbar-form navbar-right"  >Log Out</a>
		</form>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="test">
	<h1>{{test}}</h1>
	<table class="table table-striped">
		<thread>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Email</td>
				<td>Phone</td>
				<td>Position</td>
			</tr>
		</thread>
		<tbody ng-show="gotIt">
			<tr ng-repeat="person in filteredResults"> 
				<td>{{$index + 1}}</td>
				<td>{{person[0]}} {{person[1]}}</td>
				<td>{{person[2]}}</td>
				<td>{{person[3]}}</td>
				<td>{{person[4]}}</td>
				<!-- <td>{{person.account.name}}</td> -->
				
			</tr>
		</tbody>
	</table>


</div>

