html, body {
	background: url('http://p1.pichost.me/i/51/1747963.jpg')center ;
}
.logo {
	border: 1px solid #E85B07;
	width: 70%;
	height: 100px;
	margin-top: 5%;
	margin-left: 15%;
	background: url("http://kdrestoration.com/wp-admin/images/FIre.jpg") no-repeat center;
	display: inline-block;
	text-align: center;
}

h2	{
	color: #fff;
	font-size: 56px;
	font-family: cursive;
}

.login-left	{
	background: url("http://i.ytimg.com/vi/lOqe-QMZzcQ/maxresdefault.jpg") no-repeat;
	background-position: 10% 5%;
	background-size: 100%;
	border-radius: 5px;
	border: 1px solid #E85B07;
	width: 70%;
	margin-top: -0.5%;
	margin-left: 15%;
	height: 500px;
	padding-top: 5.5%;
	padding-left: 2%;
}

.form-control	{
 	width: 40%;
}

.checkbox	{
 	margin-left: -22.5%;
}

button {
	margin-left: -22.5%;
}
 
h1 {
	font-family: serif;
	color: red;
}

h5	{
	color: red;
	font-family: serif;
	margin-top: -24px;
	margin-left: -10%;
	padding-left: 25px;
}

.navbar-form .form-control{
	width: 250px;
}

.test	{
	text-align: center;
	margin-left: 15%;
	border: 1px solid red;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	width: 70%;
	height: 100%;
}

.table {
	text-align: center;
	background: #eeeeee;
}

.alert	{
	margin-top: 2%;
	margin-left: -23%;
	width: 50%;
}
.btn {
	padding: 6px 25px;
}

.navbar-inverse .navbar-brand	{
	color: red;
}